In [33]:
from pymatgen.core import Structure
import pandas

关于structure类的的位点问题，直接索引就可以。和POSCAR里的位点差不多，自己找如果麻烦可以通过转化成dataframe来观察。Structure类是基于Istructure类的，继承了Istructure大部分必要的方法和属性，但是Structure可以修改，也就是可以进行掺杂，替换等操作。

In [3]:
structure_init = Structure.from_file("data/li32mn16o48.vasp")

In [23]:
all_neighbor = structure_init.get_all_neighbors(2.5)  # 获取所有原子周围的原子类型和数量
all_neighbor_dist = structure_init.get_all_neighbors_py(r=3) #同样的，但是不可以指定原子

In [25]:
structure_primitive = structure_init.get_primitive_structure()  # 从晶胞获取原胞

In [28]:
space_group = structure_init.get_space_group_info()
space_group

('C2/m', 12)

In [31]:
structure_df = structure_init.as_dataframe()
structure_df

   Species        a        b        c         x          y         z
0      (O)  0.12304  0.08930  0.77628 -0.082917   1.546676  3.725483
1      (O)  0.37304  0.33930  0.77628  2.422208   5.876676  3.725483
2      (O)  0.37696  0.08930  0.22372  3.398110   1.546676  1.073666
3      (O)  0.12696  0.33930  0.22372  0.892984   5.876676  1.073666
4      (O)  0.37696  0.41070  0.22372  3.398110   7.113324  1.073666
..     ...      ...      ...      ...       ...        ...       ...
91    (Mn)  0.25000  0.66656  0.00000  2.505125  11.544819  0.000000
92    (Mn)  0.50000  0.58344  0.00000  5.010250  10.105181  0.000000
93    (Mn)  0.75000  0.83344  0.00000  7.515375  14.435181  0.000000
94    (Mn)  0.50000  0.91656  0.00000  5.010250  15.874819  0.000000
95    (Mn)  0.75000  0.66656  0.00000  7.515375  11.544819  0.000000

[96 rows x 7 columns]

In [34]:
structure_init[0]

PeriodicSite: O (-0.0829, 1.5467, 3.7255) [0.1230, 0.0893, 0.7763]

In [2]:
# structure_init._sites